/*-----обнуление----------------*/
*,
*:before,
*:after {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  box-sizing: inherit;
  font-size: inherit;
}

ol,
ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #fff;
  font-family: Hind Siliguri;
  font-weight: 500;
  width: 100%;
}

input {
  outline: none;
}


li {
  list-style: none;
}


/*-----обнуление--------------------------------*/
/*-----Header--------------------------------*/
.wrapper_container {
  display: flex;
  justify-content: space-between;
}

._nav {
  display: flex;
  background-color: #F6F6F6;
}

.header {
  background-color: #f0808038;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  z-index: 5;
  position: fixed;
  top: 0;
}

._logo {
  font-size: 22px;
  display: flex;
  letter-spacing: 0.5rem;
  font-family: 'Times New Roman', Times, serif;
  z-index: 3;
  font-weight: 900;
  padding-left: 100px;
  max-width: 600px;
}

._OnFoot {
  margin-left: 20px;
}

._list {
  display: flex;
  align-items: center;
  z-index: 2;
  letter-spacing: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 900;
}

._nbr1,
._nbr2,
._nbr3 {
  font-size: 20px;
  margin-left: 40px;
  color: #fff;
}

._nbr3 {
  margin-right: 10px;
}

/*-----burger_menu--------------------------------*/

/*-----burger_menu--------------------------------*/

/*-----Header--------------------------------*/

/*-----Reason--------------------------------*/
.reason {
  background-color: rgb(149 78 78);
  height: 700px;
  position: inherit;
  padding: 10px;
  margin: 0px 0px 100px 0px;
}

.reason_header {
  margin: 80px 0px 100px 160px;
  max-width: 800px;
}

._ReasonStudio,
._ReasonOnFoot {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

._ReasonOnFoot {
  margin: 10px 0px 0px 70px;
}

._icon {
  padding-right: 10px;
  height: 20px;
}

._ReasonNmb1,
._ReasonNmb2,
._ReasonNmb3,
._ReasonNmb4 {
  font-size: 24px;
  margin-top: 40px;
}

.Nmb3 {
  display: block;
  padding: 15px 0px 0px 30px;
}


._ThisUs {
  height: 500px;
  right: 140px;
  position: absolute;
  top: 240px;
  border-radius: 10%;
}


/*---------btn-holder----------*/
._btn {
  margin: 30px 10px 50px 10px;
  z-index: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::before,
::after {
  position: absolute;
  content: "";
  z-index: -2;
}

.btn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 10px auto 35px;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
  z-index: 3;
}

/*--- btn-3 ---*/
.btn-3 {
  padding: 5px;
}

.btn-3 span {
  color: rgb(255, 255, 255);
  background-color: #F08080;
}

.btn-3::before,
.btn-3::after {
  background: transparent;
  z-index: 2;
}

/* 12. hover-border-2 */
.btn.hover-border-2::before,
.btn.hover-border-2::after {
  width: 10%;
  height: 25%;
  transition: 0.35s;
}

.btn.hover-border-2::before {
  bottom: 0;
  left: 0;
  border-left: 1px solid #F08080;
  border-bottom: 1px solid #F08080;
}

.btn.hover-border-2::after {
  top: 0;
  right: 0;
  border-right: 1px solid #F08080;
  border-top: 1px solid #F08080;
}

.btn.hover-border-2:hover::before,
.btn.hover-border-2:hover::after {
  width: 99%;
  height: 99%;
}

/*--------btn-holder-------------*/
/*-----Reason--------------------------------*/
.About {
  margin: 10px 50px 600px 100px;
  padding-bottom: 40px;
  text-align: center;
}

._AboutOur {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px 10px;
  font-weight: 600;
}

/*-----------slayder--------------*/
.slaider_img {
  display: flex;
}

._img {
  max-height: 700px;
  border-radius: 20%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  11.11% {
    opacity: 1;
  }

  33.33% {
    opacity: 1;
  }

  44.44% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.fadein {
  display: flex;
  position: relative;
  width: 100%;
  padding: 50px 10px;
  left: 12%;
}


.fadein img {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  opacity: 0;
  animation-name: fade;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

.fadein img:nth-child(1) {
  animation-delay: 0.5s;
}

.fadein img:nth-child(2) {
  animation-delay: 10s;
}

.fadein img:nth-child(3) {
  animation-delay: 15s;
}

.fadein img:nth-child(4) {
  animation-delay: 20s;
}

.fadein img:nth-child(5) {
  animation-delay: 25s;
}

/*--------slayder---------------*/
._description {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 500;
}

._header {
  text-align: center;
  padding: 100px 0px 70px 0px;
  font-size: 50px;
  font-family: Segoe Print;
  font-weight: 600;
}

.container,
.container2,
.container3,
.container4 {
  display: flex;
  justify-content: space-between;
}

._Contemporary {
  margin: 10px 130px;
  max-width: 1000px;
}

._HeaderNav {
  font-size: 40px;
  margin: 40px 10px;
}

.vid,
.vid2,
.vid3,
.vid4 {
  margin: 10px 185px 10px 10px;
}

.video {
  border-radius: 10px;
}

.timetable {
  text-align: center;
}

._set {
  font-size: 50px;
  margin-top: 100px;
}

/*-----------btn-groop----------*/
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;

}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}


.btn-12 {
  position: relative;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-12 span {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  display: block;
  position: absolute;
  width: 200px;
  height: 60px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 8px;
  font-size: 20px;
}

.btn-12 span:nth-child(1) {
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/*----------btn-groop----------*/
/*----------timetable----------*/

.timetable {
  padding: 0px 10px 50px 10px;
  font-size: 30px;
  height: 500px;
  display: grid;
  align-content: center;
  margin-top: 100px;
}

.timetable_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  line-height: 3rem;
}

._TimeH {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
}

._GroopName {
  font-size: 28px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.timetable__container#GroopName {
  padding-top: 25px
}

.timetable_container {
  height: 220px;
  font-size: 24px;
  border-radius: 50px;
  width: 300px;
}


/*--------timetable------------*/
/*--------info------------*/
.info {
  padding-bottom: 20px;
}

._wrapper {
  margin: 10px 10px 10px 300px;
  width: 400px;
  padding: 200px 0px 0px 0px;
}

._contact {
  padding-bottom: 40px;
  font-size: 40px;
}

._tel {
  font-size: 30px;
  line-height: 4rem;
  padding-bottom: 20px;
}

._svg {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  margin: 0px 10px 0px 0px
}

._map {
  position: absolute;
  right: 0;
  margin: -400px 180px 0px 20px;
  border-radius: 10px;
  width: 900px;
}

.footer {
  padding: 150px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.hr_line {
  border-bottom: solid 2px red;
  width: 72%;
  margin: 0px 0px 0px 70px;
}

/*--------info------------*/