@media (max-width: 1440px) {
  ._logo {
    font-size: 20px;
    margin: 40px 0px 40px -100px;
  }
}

@media (max-width: 1240px) {
  ._logo {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  ._logo {
    font-size: 18px;
    margin: 25px 0px 25px -115px;
  }
}

@media (max-width: 768px) {
  ._logo {
    font-size: 12px;
    margin: 20px 10px 20px 10px
  }
}

@media (max-width: 430px) {
  ._logo {
    font-size: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
  }
}

@media (max-width: 1024px) {
  ._list {
    letter-spacing: normal;
  }
}

@media (max-width: 768px) {
  ._list {
    display: none;
  }
}

@media (max-width: 834px) {
  ._nav {
    display: none;
  }
}

@media (max-width: 430px) {

  ._Studio,
  ._OnFoot {
    display: none;
  }
}

@media (max-width: 1440px) {
  .reason {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .reason {
    height: 470px;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 430px) {
  .reason {
    margin: 0px 0px 0px 0px;
    height: 420px;
  }
}

@media (max-width: 393px) {
  .reason {
    margin: 0px 0px 0px 0px;
    height: 400px;
  }
}

@media (max-width: 375px) {
  .reason {
    height: 420px;
  }
}


@media (max-width: 1440px) {

  ._nbr1,
  ._nbr2,
  ._nbr3 {
    font-size: 18px;
  }
}

@media (max-width: 1240px) {

  ._nbr1,
  ._nbr2,
  ._nbr3 {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {

  ._nbr1,
  ._nbr2,
  ._nbr3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
  }
}

@media (max-width: 1440px) {

  .reason_header {
    margin: 80px 0px 100px 140px
  }
}

@media (max-width: 1024px) {

  .reason_header {
    margin: 20px 0px 0px 50px;
  }
}


@media (max-width: 430px) {

  .reason_header {
    margin: -25px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}


@media (max-width: 1440px) {

  ._ReasonStudio,
  ._ReasonOnFoot {
    font-size: 35px;
  }
}

@media (max-width: 768px) {

  ._ReasonStudio,
  ._ReasonOnFoot {
    font-size: 30px;
  }
}

@media (max-width: 430px) {

  ._ReasonStudio {
    padding-top: 30px;
  }
}

@media (max-width: 1440px) {

  ._ReasonOnFoot {
    margin: 10px 0px 0px 40px;
  }
}

@media (max-width: 768px) {

  ._ReasonOnFoot {
    margin: 10px 0px 0px 25px;
  }
}

@media (max-width: 430px) {

  ._ReasonStudio,
  ._ReasonOnFoot {
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
  }
}



@media (max-width: 1440px) {

  ._icon {
    height: 10px;
  }
}

@media (max-width: 1024px) {

  ._icon {
    height: 25px;
  }
}

@media (max-width: 430px) {

  ._icon {
    height: 20px;
  }
}

@media (max-width: 1440px) {

  ._ReasonNmb1,
  ._ReasonNmb2,
  ._ReasonNmb3,
  ._ReasonNmb4 {
    font-size: 18px;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {

  ._ReasonNmb1,
  ._ReasonNmb2,
  ._ReasonNmb3,
  ._ReasonNmb4 {
    font-size: 25px;
    margin-top: 20px;
  }
}

@media (max-width: 834px) {

  ._ReasonNmb1,
  ._ReasonNmb2,
  ._ReasonNmb3,
  ._ReasonNmb4 {
    font-size: 22px;
    margin-top: 20px;
  }
}


@media (max-width: 768px) {

  ._ReasonNmb1,
  ._ReasonNmb2,
  ._ReasonNmb3,
  ._ReasonNmb4 {
    font-size: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {

  .Nmb4 {
    display: block;
    padding: 15px 0px 0px 30px;
  }
}


@media (max-width: 430px) {

  ._ReasonNmb1,
  ._ReasonNmb2,
  ._ReasonNmb3,
  ._ReasonNmb4 {
    font-size: 20px;
  }
}

@media (max-width: 375px) {

  ._ReasonNmb1,
  ._ReasonNmb2,
  ._ReasonNmb3,
  ._ReasonNmb4 {
    font-size: 18px;
  }
}


@media (max-width: 430px) {

  .Nmb3,
  .Nmb4 {
    display: block;
    padding: 10px 0px 0px 22px;
  }
}

@media (max-width: 1024px) {

  ._btn {
    margin: 15px 10px 0px 80px;
  }
}

@media (max-width: 430px) {

  ._btn {
    margin: 10px 10px 0px 50px;
  }
}


@media (max-width: 1440px) {

  .btn span {
    padding: 15px 15px;
    font-size: 12px;
  }
}

@media (max-width: 834px) {

  .btn span {
    padding: 15px 20px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {

  .btn span {
    padding: 15px 20px;
    font-size: 14px;
  }
}

@media (max-width: 430px) {

  .btn span {
    padding: 12px 12px;
    font-size: 12px;
  }
}

@media (max-width: 1440px) {

  ._ThisUs {
    height: 400px;
    top: 180px;
  }
}

@media (max-width: 1024px) {

  ._ThisUs {
    height: 340px;
    width: 430px;
    top: 140px;
    right: 45px;
  }
}

@media (max-width: 834px) {

  ._ThisUs {
    height: 320px;
    width: 320px;
    top: 70px;
    right: 20px;
  }
}

@media (max-width: 768px) {

  ._ThisUs {
    height: 250px;
    width: 300px;
    top: 70px;
    right: 15px;
  }
}


@media (max-width: 430px) {

  ._ThisUs {
    display: none;
  }
}


@media (max-width: 1440px) {

  ._AboutOur,
  ._header,
  ._TimeH,
  ._contact {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {

  ._AboutOur,
  ._header,
  ._TimeH,
  ._contact {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
}


@media (max-width: 834px) {

  ._AboutOur,
  ._header,
  ._TimeH,
  ._contact {
    font-size: 40px;
    padding: 0px;
  }
}

@media (max-width: 768px) {

  ._AboutOur,
  ._header,
  ._TimeH,
  ._contact {
    font-size: 40px;
    padding: 40px 0px 0px 0px;
  }
}


@media (max-width: 430px) {

  ._AboutOur,
  ._header,
  ._TimeH,
  ._contact {
    margin: 10px 10px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
}

@media (max-width: 768px) {

  ._contact {
    margin: -100px 0px 0px 0px;
  }
}

@media (max-width: 430px) {

  ._contact {
    margin: -100px 0px 0px 40px;
  }
}


@media (max-width: 768px) {

  ._TimeH {
    position: absolute;
    margin: 15px 0px 0px 0px;
    right: 25%;
  }
}

@media (max-width: 1440px) {

  .timetable {
    margin: 0px;
  }
}

@media (max-width: 768px) {

  .timetable {
    height: 840px;
  }
}

@media (max-width: 393px) {

  .timetable {
    height: 830px;
  }
}

@media (max-width: 1340px) {

  ._header {
    margin: -50px 0px 0px 0px;
  }
}

@media (max-width: 1140px) {

  ._header {
    margin: -100px 0px 0px 0px;
  }
}

@media (max-width: 430px) {

  ._header {
    font-size: 35px;
    margin: -70px 0px -60px 0px;
  }
}



@media (max-width: 1440px) {

  ._description {
    font-size: 20px;
    line-height: 1.5em;
  }
}

@media (max-width: 1024px) {

  ._description {
    font-size: 30px;
    line-height: 1.5em;
  }
}

@media (max-width: 430px) {

  ._description {
    text-align: justify;
    font-size: 20px;
    margin: 0px 10px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

  }
}

@media (max-width: 1440px) {

  .About {
    margin: 10px 50px 350px 100px
  }
}

@media (max-width: 1024px) {

  .About {
    margin: -50px 0px 330px 0px;
    padding: 0px 30px;
  }
}

@media (max-width: 768px) {

  .About {
    margin: 10px 0px 250px 0px;
    padding: 10px 10px;
  }
}

@media (max-width: 430px) {

  .About {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
  }
}

@media (max-width: 1024px) {

  .container4 {
    margin-bottom: 40px;
  }
}

@media (max-width: 834px) {

  .container,
  .container2,
  .container3,
  .container4 {
    display: block;
    padding: 180px 0px 0px 0px;
  }
}

@media (max-width: 768px) {

  .container,
  .container2,
  .container3,
  .container4 {
    display: block;
    padding: 180px 0px 0px 0px;
  }
}


@media (max-width: 430px) {

  .container2 {
    margin: -90px 0px 0px 0px;
  }
}


@media (max-width: 1440px) {

  ._HeaderNav {
    font-size: 30px;
    margin: 20px 5px;
  }
}

@media (max-width: 1024px) {

  ._HeaderNav {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

@media (max-width: 834px) {

  ._HeaderNav {
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 768px) {

  ._HeaderNav {
    font-size: 40px;
    margin: 10px 0px 20px 0px;
    text-align: center;
  }
}



@media (max-width: 430px) {

  ._HeaderNav {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 2.5rem;
  }
}




@media (max-width: 1440px) {

  ._text,
  ._tel {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {

  ._text,
  ._tel {
    font-size: 25px;
    font-weight: 900;
  }
}

@media (max-width: 834px) {

  ._text {
    text-align: center;
  }
}

@media (max-width: 768px) {

  ._text {
    text-align: center;
  }
}

@media (max-width: 834px) {

  ._text,
  ._tel {
    font-size: 30px;
  }
}

@media (max-width: 768px) {

  ._text,
  ._tel {
    font-size: 25px;
  }
}

@media (max-width: 430px) {

  ._text,
  ._tel {
    line-height: 2.9rem;
    font-size: 18px;
    text-align: justify;
    width: 400px;
    padding: 10px;
  }
}

@media (max-width: 393px) {

  ._text,
  ._tel {
    line-height: 2.5rem;
    font-size: 18px;
    text-align: justify;
    width: 360px;
    padding: 0px 10px;
  }
}


@media (max-width: 768px) {

  ._tel {
    margin: -30px 0px 0px 0px;
  }
}

@media (max-width: 430px) {

  ._tel {
    margin: -30px 0px 0px 0px;
  }
}

@media (max-width: 393px) {

  ._tel {
    margin: -30px 0px 0px 0px;
    width: 300px;
  }
}




@media (max-width: 1440px) {

  .vid,
  .vid2,
  .vid3,
  .vid4 {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 834px) {

  .vid,
  .vid2,
  .vid3,
  .vid4 {
    height: 430px;
    margin: -150px 0px 0px 50px;
  }
}

@media (max-width: 768px) {

  .vid,
  .vid2,
  .vid3,
  .vid4 {
    height: 430px;
    margin: -150px 0px 0px 50px;
  }
}


@media (max-width: 768px) {

  .vid4 {
    margin: -90px 0px 0px 50px;
  }
}

@media (max-width: 768px) {

  .vid3 {
    margin: -110px 0px 0px 50px;
  }
}

@media (max-width: 430px) {

  .vid,
  .vid2,
  .vid3,
  .vid4 {
    height: 300px;
    margin: -55px 0px 50px 0px;
  }
}

@media (max-width: 430px) {

  .vid {

    margin: -55px 0px 0px 0px;
  }
}


@media (max-width: 393px) {

  .vid#vid1 {
    margin: -40px 0px 0px 0px;
  }
}


@media (max-width: 393px) {

  .vid4#vid4 {
    margin: -50px 0px 0px 0px;
  }
}

@media (max-width: 1440px) {

  ._Contemporary {
    margin: 0px 20px 0px 80px;
    max-width: 600px;
    height: 300px;
  }
}

@media (max-width: 1024px) {

  ._Contemporary {
    margin: 0px 20px 0px 40px;
    max-width: 600px;
    height: 300px;
  }
}

@media (max-width: 834px) {

  ._Contemporary {
    margin: -180px 0px 0px 80px;
    height: 375px;
  }
}

@media (max-width: 768px) {

  ._Contemporary {
    margin: -180px 0px 0px 80px;
    height: 375px;
  }
}

@media (max-width: 430px) {

  ._Contemporary {
    margin: 30px 0px 100px 0px;
    padding: 0px 10px 0px 10px;
  }
}

@media (max-width: 1440px) {

  .video {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 1024px) {

  .video {
    width: 400px;
    height: 270px;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 1024px) {

  .video#video1,
  .video#video2,
  .video#video3,
  .video#video4 {
    width: 450px;
    height: 300px;
  }
}

@media (max-width: 1024px) {

  .video#video2,
  .video#video3,
  .video#video4 {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {

  .video#video1,
  .video#video2,
  .video#video3,
  .video#video4 {
    width: 650px;
    height: 350px
  }
}

@media (max-width: 430px) {

  .video#video1,
  .video#video2,
  .video#video3,
  .video#video4 {
    width: 370px;
    height: 300px;
    margin: 0px 0px 40px 15px;
  }
}

@media (max-width: 430px) {

  .video#video1 {

    margin: -80px 0px 10px 20px;
  }
}

@media (max-width: 430px) {

  .video {
    width: 400px;
    height: 250px;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 30px;
  }
}

@media (max-width: 393px) {

  .video {
    width: 370px;
    height: 250px;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 30px;
  }
}

@media (max-width: 1440px) {

  .timetable_wrapper {
    width: 900px;
    margin: auto;
  }
}

@media (max-width: 768px) {

  .timetable_wrapper {
    display: block;
    position: absolute;
    left: 30%;
    padding: 60px 0px 0px 0px;
  }
}

@media (max-width: 1440px) {

  .timetable_container {
    margin: 0px 50px 0px 0px;

  }
}

@media (max-width: 1024px) {

  .timetable_container {
    margin: 0px 25px 0px 0px;
    height: 300px;
  }
}


@media (max-width: 768px) {

  .timetable_container {
    margin: 20px 0px 0px -15px;
    height: 230px;
    width: 340px;
    padding: 5px 10px;
  }
}

@media (max-width: 1440px) {

  ._GroopTime {
    font-size: 16px;
    width: 350px;
  }
}

@media (max-width: 768px) {

  ._GroopTime {
    font-size: 15px;
    width: 350px;
  }
}


@media (max-width: 1240px) {

  ._GroopName {
    font-size: 20px;
    font-size: 24px;
    letter-spacing: 1px;
  }
}

@media (max-width: 1024px) {

  ._GroopName {
    padding-top: 10px;
  }
}

@media (max-width: 768px) {

  ._GroopName {
    font-size: 25px;
  }
}

@media (max-width: 430px) {

  ._GroopName {
    font-size: 20px;
  }
}

@media (max-width: 768px) {

  .timetable__container#GroopName {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 430px) {

  .timetable__container#GroopName {
    padding: 20px 0px 0px 0px;
  }
}

@media (max-width: 393px) {

  .timetable_container#MidelGroop {
    height: 235px;
  }
}




@media (max-width: 1024px) {

  ._GroopTime {
    width: 270px;
    font-size: 25px;
  }
}

@media (max-width: 768px) {

  ._GroopTime {
    width: 300px;
  }
}


@media (max-width: 430px) {

  ._GroopTime {
    font-size: 16px;
  }
}


@media (max-width: 1440px) {

  ._wrapper {
    margin: -70px 10px 10px 100px;
  }
}

@media (max-width: 1024px) {

  ._wrapper {
    margin: -70px 10px 10px 40px;
  }
}

@media (max-width: 768px) {

  ._wrapper {
    height: 600px;
  }
}

@media (max-width: 1440px) {

  ._svg {
    height: 40px;
  }
}

@media (max-width: 768px) {

  ._svg {
    height: 50px;
  }
}

@media (max-width: 430px) {

  ._svg {
    height: 40px;
    margin: 0px 10px 20px 10px;
  }
}



@media (max-width: 1440px) {

  ._map {
    margin: -320px 150px 0px 0px;
    height: 400px;
    width: 700px;
  }
}

@media (max-width: 1024px) {

  ._map {
    height: 400px;
    width: 500px;
    margin: -400px 40px 0px 0px;
  }
}

@media (max-width: 768px) {

  ._map {
    height: 300px;
    width: 700px;
    margin: -140px 0px 0px 0px;
    left: 5%;
  }
}

@media (max-width: 430px) {

  ._map {
    height: 300px;
    width: 370px;
    margin: -70px 0px 0px 0px;
  }
}

@media (max-width: 393px) {

  ._map {
    height: 300px;
    width: 350px;
    margin: -65px 0px 0px 0px;
  }
}

@media (max-width: 375px) {

  ._map {
    width: 340px;
  }
}


@media (max-width: 1024px) {

  .fadein img {
    height: 450px;
    width: 350px;
  }
}

@media (max-width: 834px) {

  .fadein img {
    height: 400px;
    width: 300px;
  }
}

@media (max-width: 768px) {

  .fadein img {
    height: 400px;
    width: 300px;
  }
}

@media (max-width: 430px) {

  .fadein img {
    height: 400px;
    width: 300px;
  }
}

@media (max-width: 1024px) {

  .fadein {
    left: 7%;
    margin: 0px 0px 200px 0px;
  }
}

@media (max-width: 430px) {

  .fadein {
    padding: 20px 0px 250px 0px;
    left: 15%;
  }
}

@media (max-width: 393px) {

  .fadein {
    padding: 20px 0px 250px 0px;
    left: 10%;
  }
}

@media (max-width: 768px) {

  ._devel {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {

  .footer {
    padding: 50px 0px 20px 0px;
  }
}

@media (max-width: 768px) {

  .footer {
    padding: 195px 0px 40px 0px;
  }
}

@media (max-width: 430px) {

  .footer {
    padding: 235px 0px 40px 0px;
  }
}

@media (max-width: 768px) {

  .hr_line {
    width: 175px;
    margin: 0px 0px 0px 70px;
  }
}

@media (max-width: 430px) {

  .hr_line {
    width: 142px;
    margin: 0px 0px 0px 55px;
  }
}

@media (max-width: 430px) {

  .slaider_img {
    display: inherit;
  }
}